{{# Quote Component #}}
{{# Usage: {{ partial:components/quote quote_text="Your quote" author="Author Name" source="Source" }} #}}

<div class="my-8 p-6 bg-gray-50 border-l-4 border-blue-500 rounded-r-lg">
    <blockquote class="text-lg italic text-gray-800 mb-4">
        "{{ quote_text }}"
    </blockquote>
    {{ if author || source }}
        <footer class="text-sm text-gray-600">
            {{ if author }}
                <cite class="font-semibold">{{ author }}</cite>
            {{ /if }}
            {{ if source }}
                {{ if author }}, {{ /if }}
                <span class="text-gray-500">{{ source }}</span>
            {{ /if }}
        </footer>
    {{ /if }}
</div> 